.entry .tablepress-id-1 {
	width: 75%;
	margin: 0 auto 1em;
}

.tablepress-id-1 .row-hover tr:hover td {
	background-color: #99cc33;
}

.tablepress-id-1 .column-1 {
	width: 150px;
}

.tablepress-id-1 .column-2 {
	width: 250px;
}

.tablepress-id-1 .column-3 {
	width: 250px;
}

.entry .tablepress-id-1 {
	width: auto;
	margin: 0 auto;
}

.tablepress thead th,
.tablepress tfoot th {
	background-color: #00b7bd;
}

.tablepress tbody td,
.tablepress thead th {
	text-align: center;
	vertical-align: middle;
}

.tablepress-id-1 th,
.tablepress-id-1 td {
	border: 1px solid #55565a;
}

.tablepress thead .sorting_asc,
.tablepress thead .sorting_desc,
.tablepress thead .sorting:hover {
	background-color: #99cc33;
}

.tablepress-id-1 tbody td {
	font-family: Rockwell;
	font-size: 16px;
	color: #55565a;
}