/**
 * WP-Members CSS
 *
 * CSS for the WP-Members plugin using Twenty Ten Theme
 * 
 * This file is part of the WP-Members plugin by Chad Butler
 * You can find out more about this plugin at http://rocketgeek.com
 * Copyright (c) 2006-2013 Chad Butler (email : plugins@butlerblog.com)
 * WP-Members(tm) is a trademark of butlerblog.com
 *
 * @package WordPress
 * @subpackage WP-Members
 * @author Chad Butler 
 * @copyright 2006-2013
 */

/*	
This stylesheet is designed to integrate WP-Members with the TwentyTen theme.
There are quite a few examples in here of what you can do with the table-less 
forms.  You can build off of this or start from scratch and setyour own 
custom css for the plugin (set the location in the admin panel).

See http://rocketgeek.com/tips-and-tricks/setting-up-a-custom-wp-members-stylesheet/
for information on how to set up the plugin with a cusotm stylesheet.

For information how to load custom stylesheets with wp_enqueue_style,
see http://rocketgeek.com/tips-and-tricks/load-a-custom-stylesheet/
*/

/* Error and Dialog Messages */

#wpmem_msg, .wpmem_msg {
    width:630px;
    padding-top: 10px;
    border: 1px #000 solid;
    background-color:#E6E6E6;
}

/* Sidebar Login Widget */

#wp-members  { margin-bottom: 20px; }
#wp-members label { color: #000; }
#wp-members .div_text { padding-top: 4px; }
#wp-members .username, #wp-members .password {
	border: 1px solid #ccc;
	background-color:#fff;
	width:176px;
	font:10px verdana,sans-serif;
	color: #000;
	padding:3px 5px 3px 5px;
}
#wp-members .button_div { margin-top:3px; }
#wp-members .buttons {
	font-family:Arial,Helvetica,sans-serif;
	background: #e3e3db;
	font-size:10px; 
	color: #000; 
	margin-left: 0px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}
#wp-members .err {
	width:100%;
    padding: 5px;
    border: 1px #000 solid;
    background-color:#E6E6E6;
}

/* Login Form and Registration Form */

#wpmem_reg, #wpmem_login {
	width:630px;
	padding-top:30px;
	float:left;
}

#wpmem_reg fieldset, #wpmem_login fieldset {
	border:1px dashed #ccc;
	padding:10px;
	margin-top:20px;
	margin-bottom:20px;
}
#wpmem_reg legend, #wpmem_login legend {
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-weight: bold;
	font-size: 20px;
	background: #c4c4c4;
	border: 1px solid #333;
	padding: 8px;
}
#wpmem_reg label.text, #wpmem_reg label.checkbox, 
#wpmem_reg label.textarea , #wpmem_reg label.select,
#wpmem_login label {
	width:230px;
	margin-top:3px;
	margin-right:2px;
	padding-top:11px;
	padding-left:6px;
	background-color:#ccc;
	float:left;
	display: block;
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-size: 115%;
	line-height: 1.1;
	color:#666;
}
#wpmem_reg label.text, #wpmem_reg label.checkbox, 
#wpmem_reg label.select, #wpmem_login label {
	height:32px;
}
#wpmem_reg label.textarea {
	height:197px;
}
#wpmem_reg .form, #wpmem_login .form {
	margin:0;
	padding:0;
}
#wpmem_reg .clear, #wpmem_login .clear {
	clear:both;
}
#wpmem_reg .holder, #wpmem_login .holder {
	background-color:#fff;
}
#wpmem_reg .div_text, #wpmem_reg .div_checkbox, 
#wpmem_reg .div_textarea, #wpmem_reg .div_select,
#wpmem_login .div_text {
	width:360px;
	float:right;
	background-color:#E6E6E6;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
}
#wpmem_reg .div_text, #wpmem_reg .div_checkbox, 
#wpmem_reg .div_select, #wpmem_login .div_text {
	height:35px;
}
#wpmem_reg .div_textarea {
	height:200px;
}
#wpmem_reg .dropdown,
#wpmem_reg .textbox, #wpmem_login .textbox,
#wpmem_reg .username, #wpmem_login .username,
#wpmem_reg .password, #wpmem_login .password {
	border: 1px solid #ccc;
	background-color:#fff;
	width:340px;
	font:normal 18px Times New Roman;
	color: #000000;
	padding:3px 5px 3px 5px;
}
#wpmem_reg .dropdown { 
	width:352px;
}
#wpmem_reg .textbox:focus, #wpmem_reg .textbox:hover, #wpmem_login .textbox:focus, #wpmem_login .textbox:hover,
#wpmem_reg .username:focus, #wpmem_reg .username:hover, #wpmem_login .username:focus, #wpmem_login .username:hover,
#wpmem_reg .password:focus, #wpmem_reg .password:hover, #wpmem_login .password:focus, #wpmem_login .password:hover {
	background-color:#F0FFE6;
}

#wpmem_reg .textarea {
	width:346px;
	height:190px;
}

#wpmem_reg .button_div, #wpmem_login .button_div {
	width:353px;
	float:right;
	background-color:#fff;
	border:1px solid #ccc;
	text-align:right;
	height:35px;
	margin-top:3px;
	padding:5px;
	white-space:nowrap;
}

#wpmem_reg .buttons, #wpmem_login .buttons {
	font-family:Arial,Helvetica,sans-serif;
	background: #e3e3db;
	font-size:12px; 
	color: #000; 
	padding: 4px 12px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}
#wpmem_reg .req { color: red; }
#wpmem_reg .captcha { margin: 5px 0px; }
#wpmem_reg .noinput{ 
	height: 32px;
	padding-top: 4px;
	padding-left: 6px;
}
#wpmem_reg input[type="checkbox"] { margin-top: 9px; }

#wpmem_reg .req-text {
	float:left;
	margin: 15px 0px 0px 5px;
}