/**
 * WP-Members Styles CSS
 *
 * CSS for the WP-Members plugin using Twenty Eleven Theme
 * 
 * This file is part of the WP-Members plugin by Chad Butler
 * You can find out more about this plugin at http://rocketgeek.com
 * Copyright (c) 2006-2013 Chad Butler (email : plugins@butlerblog.com)
 * WP-Members(tm) is a trademark of butlerblog.com
 *
 * @package WordPress
 * @subpackage WP-Members
 * @author Chad Butler 
 * @copyright 2006-2013
 */

/*	
This stylesheet is designed to integrate WP-Members with the TwentyEleven theme.
There are quite a few examples in here of what you can do with the table-less 
forms.  You can build off of this or start from scratch and setyour own 
custom css for the plugin (set the location in the admin panel).

See http://rocketgeek.com/tips-and-tricks/setting-up-a-custom-wp-members-stylesheet/
for information on how to set up the plugin with a cusotm stylesheet.

For information how to load custom stylesheets with wp_enqueue_style,
see http://rocketgeek.com/tips-and-tricks/load-a-custom-stylesheet/
*/

/* Error and Dialog Messages */

#wpmem_msg, .wpmem_msg {
	margin-left:-26px;
	padding-top: 40px;
	width: 595px;
	background: #ddd;
	border:1px solid lightGrey;
	border-radius: 3px;
	padding:20px;
	font-size: 14px;
	font-weight: bold;
}
#wpmem_msg h2, .wpmem_msg h2 {
	font-size: 24px;
	color: #373737;
	line-height: 30px;
}

/* Sidebar Login Widget */

#wp-members  { 
	width: 100%;
	margin-bottom: 20px;
	font-weight: bold;
	color: #1982D1;
}
#wp-members p {
	font-weight: normal;
	color: #777;
}
#wp-members fieldset {
	margin-top: 10px;
}
#wp-members label { 
	font-weight: normal;
	color: #777;
}
#wp-members input {
	color: #888;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px; 10px; 4px; 28px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
#wp-members input[type="text"],
#wp-members input[type="password"]{ 
	width: 174px;
}
#wp-members .div_text { padding-top: 4px; }
#wp-members .button_div { margin-top:10px; }
#wp-members .buttons {
	height: 30px;
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin-left: 0px;
	padding: 5px 28px 5px 22px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#wp-members .buttons:active {
	background: #1982d1;
	color: #bfddf3;
}
#wp-members .err {
	width:100%;
    padding: 5px;
    border: 1px #000 solid;
    background-color:#E6E6E6;
}

/* Login Form and Registration Form */

#wpmem_reg, #wpmem_login {
	margin-left:-26px;
	padding-top:30px;
}

#wpmem_reg fieldset, #wpmem_login fieldset {
	width: 595px;
	background: #ddd;
	border:1px solid lightGrey;
	border-radius: 3px;
	padding:20px;
	margin-bottom:20px;
}
#wpmem_reg legend, #wpmem_login legend {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	padding-top:80px;
}
#wpmem_reg label.text, #wpmem_reg label.checkbox, 
#wpmem_reg label.textarea , #wpmem_reg label.select,
#wpmem_login label {
	left:4px;
	top: 40px;
	color:#555;
	width:210px;
	margin-top:8px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	background-color:#eee;
	float:left;
	display: block;
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	font-size: 115%;
	line-height: 2.2;	
	height: 35px;
	display: block;
	border: 4px solid #eee;
	border-radius: 5px;

}

#wpmem_reg .form, #wpmem_login .form {
	margin:0;
	padding:0;
}
#wpmem_reg .clear, #wpmem_login .clear {
	clear:both;
}
#wpmem_reg .holder, #wpmem_login .holder {
	background-color:#fff;
}
#wpmem_reg .div_text, #wpmem_reg .div_checkbox, 
#wpmem_reg .div_textarea, #wpmem_reg .div_select,
#wpmem_login .div_text {
	width:360px;
	float:right;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
}
#wpmem_reg .div_text, #wpmem_reg .div_checkbox, 
#wpmem_reg .div_select, #wpmem_login .div_text {
	height:35px;
	margin-bottom: 15px;
}
#wpmem_login input[type="password"],
#wpmem_login input[type="text"],
#wpmem_reg input[type="text"] {
	height: 26px;
}
#wpmem_reg .dropdown,
#wpmem_reg .textbox, #wpmem_login .textbox,
#wpmem_reg .username, #wpmem_login .username,
#wpmem_reg .password, #wpmem_login .password {
	height: 24px;
}
#wpmem_reg .div_textarea textarea,
#wpmem_reg .textbox, #wpmem_login .textbox,
#wpmem_reg .username, #wpmem_login .username,
#wpmem_reg .password, #wpmem_login .password {
	display: block;
	width: 75%;
	background-color:white;
	border: 4px solid #eee;
	border-radius: 5px;
	width:340px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	color: #888;
	padding: 10px;
	font: 15px; "Helvetica Neue", Arial, sans serif;
	font-weight: 300;
	line-height: 1.625;
}
#wpmem_reg .dropdown {
	height: 53px;
	width: 280px;
	background-color:white;
	border: 4px solid #eee;
	border-radius: 5px;
	width:340px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	color: #888;
	padding: 10px;
	font: 15px; "Helvetica Neue", Arial, sans serif;
	font-weight: 300;
	line-height: 1.625;
}
#wpmem_reg .dropdown { 
	width:352px;
}
#wpmem_reg .textbox:focus, #wpmem_reg .textbox:hover, #wpmem_login .textbox:focus, #wpmem_login .textbox:hover,
#wpmem_reg .username:focus, #wpmem_reg .username:hover, #wpmem_login .username:focus, #wpmem_login .username:hover,
#wpmem_reg .password:focus, #wpmem_reg .password:hover, #wpmem_login .password:focus, #wpmem_login .password:hover {
	background-color:#F0FFE6;
}

#wpmem_reg .textarea {
	width:346px;
	height:190px;
}

#wpmem_reg .button_div, #wpmem_login .button_div {
	width:360px;
	float:right;
	text-align:right;
	height:35px;
	margin-top:3px;
	padding:5px;
	white-space:nowrap;
}

#wpmem_reg .buttons, #wpmem_login .buttons {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 15px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#wpmem_reg .buttons:active, #wpmem_login .buttons:active {
	background: #1982d1;
	color: #bfddf3;
}
#wpmem_reg .req { 
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	line-height: 50%;
}

#wpmem_reg .req-text {
	float:left;
	margin: 15px 0px 0px 8px;
}