@CHARSET "ISO-8859-1";

h2{
	clear:none;
	line-height:15px;
	font-family:Georgia,serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#000;
	margin:0 0 5px 0;"
	width:140px;
	height:auto;
}

.more{
	
	color:#ca7700;
	font-family:Verdana,Geneva,sans-serif;
	font-size:11px;"
	
}

.foo_con{

font-family:Verdana,Geneva,sans-serif;
font-size:11px;
font-weight:normal;
font-style:normal;
color:#222222;
width:206px;
height:auto;
}

.image_carousel {
	margin: 0 auto;
    padding: 15px 0 15px;
    position: relative;
    width: 1130px;
}
.image_carousel img {
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin-bottom: 5px;
	
}
a.prev, a.next {
	background: url(../images/miscellaneous_sprite2.png) no-repeat transparent;
	height: 50px;
    position: absolute;
    top: 115px;
    
	width: 50px;
}

#foo_content{
	
	margin: 7px 25px 7px 0;
	display: block;
	float: left;
	height:auto;

	width:206px;
	min-height:114px;
	max-height:114px;
	
	
}

#foo_content a{ color: #666; text-decoration: none; text-transform: uppercase; font-family: 'Chivo',Helvetica,Arial,sans-serif; font-size: 12px; }

#foo_content a:hover { color: #006c94; }

.caroufredsel_wrapper{
height: 180px !important;
}


a.prev {			left: -7px;
								background-position: -80px -35px; }

a.next {			background-position: -70px -163px;
    			right: 1px; 			}


a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}



/*STAFF*/

.foostaff_con{

font-family:Verdana,Geneva,sans-serif;
font-size:11px;
font-weight:normal;
font-style:normal;
color:#222222;
width:206px;
height:auto;
}

.image_carousel_staff {
	margin: 0 auto;
    padding: 15px 0 15px;
    position: relative;
    width: 1130px;
}
.image_carousel_staff img {
	border: 1px solid #ccc;
	display: block;
	float: left;
	
}

#foostaff_content{
	
	margin: 7px 25px 7px 0;
	display: block;
	float: left;
	height:auto;

	width:206px;
	min-height:114px;
	max-height:114px;
	
	
}